// Import all of Bootstrap's CSS
@import '~bootstrap/scss/bootstrap';

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(58, 88, 237);
  text-align: center;
}
.load-more-position {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info {
  font-size: 12px;
  display: flex;
}
