.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}
.search-form {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: tomato;
  text-align: center;
}
.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
