<form class="search-form" id="search-form">
  <input
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button type="submit" class="search btn btn-primary">Search</button>
</form>
<div class="gallery">
  <!-- Карточки изображений -->
</div>
<button
  class="btn btn-primary load-more-position"
  data-action="load-more"
  type="button"
  disabled
>
  <span
    class="spinner-grow spinner-grow-sm spinner"
    role="status"
    aria-hidden="true"
  ></span>
  <span class="label">Show more</span>
</button>
